{extend name="menu"/}
{block name="title"}
学期编辑
{/block}
{block name="content"}
	<div class="row"> 
		<div class="col-md-12"> 
			<form action="{:url('update')}" method="post"> 
				<input type="hidden" name="httpref" value="{$_SERVER['HTTP_REFERER']}">
				<label>学期:</label> 
				<input type="hidden" name="id" value="{$Term->id}" />
				<input type="text" name="name" value="{$Term->getData('name')}"/> <br/>
				<label>学期开始时间:</label>
				<input type="Date" name="start_time" value="{$Term->getData('start_time')}"/><br/>
				<label>学期结束时间:</label>
				<input type="Date" name="end_time" value="{$Term->getData('end_time')}"><br/>

				<button type="submit">保存</button> 
			</form> 
		</div> 
	</div> 
{/block}
{block name="page"}
{/block}
