{extend name="Dingding/model"/}
{block name="title"}
课程表
{/block}
{block name="content"}
<h2 class="nowTime info">今日时间：
	<?php
	echo date('Y-m-d', time()).'  ';
	$weekArray = array('日', '一', '二', '三', '四', '五', '六');
	echo'星期'.$weekArray[date('w')];
	?>
</h2>
<h2 class="timeInfo info">本学期第{$NowWeek}周&nbsp;&nbsp;{$weekDay}&nbsp;&nbsp;课表如下：
</h2>
<table class="table table-hover table-bordered">
	<tr class="info">
		<th>学生姓名</th>
		<th>第一节</th>
		<th>第二节</th>
		<th>第三节</th>
		<th>第四节</th>
		<th>第五节</th>
	</tr>
	{volist name="courseOfStudent" id="_courseOfStudent" key="key"}
    <tr>
       <td>{$_courseOfStudent[0]}</td>
  	   <td>{$_courseOfStudent[1]}</td>
  	   <td>{$_courseOfStudent[2]}</td>
  	   <td>{$_courseOfStudent[3]}</td>
  	   <td>{$_courseOfStudent[4]}</td>
  	   <td>{$_courseOfStudent[5]}</td>
    </tr>
    {/volist}
</table>
{/block}